# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Composer
vendor/
composer.lock

# WordPress
wp-content/
wp-*.php
xmlrpc.php
index.php
license.txt
readme.html

# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# Backup
*.bak
*.tmp
